%h1.text-info All Received Text Messages
%br
= will_paginate @incoming_messages
%table.table.table-bordered.table-stripped.table-condensed
  %thead{:style => 'background-color: #f1f1f1'}
    %tr
      %th Sender
      %th Keyword
      %th Option
      %th Extra text
      %th Received Date / Time
      %th Reply Sent
      %th Reply Send Date / Time

  %tbody
  - @incoming_messages.each do |incoming_message|
    %tr
      %td= incoming_message.sender
      %td= incoming_message.keyword
      %td= incoming_message.option
      %td= incoming_message.extra_text
      %td= incoming_message.created_at.strftime("%d-%m-%Y %H:%M")
      %td= incoming_message.reply_sent? ? 'Yes' : 'No' rescue nil
      %td= incoming_message.reply_sent_date_time.strftime("%d-%m-%Y %H:%M") rescue nil
      -#%td= link_to 'Show', incoming_message, :class => 'btn'
      -#%td= link_to 'Edit', edit_incoming_message_path(incoming_message), :class => 'btn btn-primary'
      -#%td= link_to 'Destroy', incoming_message, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn'
= will_paginate @incoming_messages