.container
  %h2.text-success SMS Quiz
  .span12
    .span5
      %p
        %b Keyword:
        = @quiz.keyword
      %p
        %b Welcome Message:
        = @quiz.welcome_message
      %p
        %b Correct Answer Message:
        = @quiz.correct_answer
      %p
        %b Incorrect Answer Message:
        = @quiz.incorrect_answer
      %p
        %b Enabled:
        = @quiz.enabled

    .span6
      .well
        %h3.text-info Questions (# #{@quiz.quiz_questions.count()})
        %table.table.table-bordered.table-condensed.table-stripped
          %thead
            %tr
              %th
                Question
              %th
                Answers
          %tbody
            -@quiz.quiz_questions.all().each do |question|
              %tr
                %td
                  =question.question
                %td
                  -question.quiz_question_answers.all().each do |answer|
                    -if answer.correct_answer == true
                      %div{:style => 'color: green; background-color: white'}
                        %b #{answer.letter}. #{answer.answer}
                        %br
                    -else
                      #{answer.letter}. #{answer.answer}
                      %br
.span11.well
  %h3.text-info Quiz Entries
  %table.table.table-bordered.table-condensed.table-stripped
    %thead
      %tr
        %th Cell Number
        %th Question & Answers
    %tbody
      -QuizEntry.find_all_by_quiz_id(@quiz.id).each do |x|
        %tr
          %td
            =x.cell_number
          %td
            -QuizQuestion.find_all_by_quiz_id(x.quiz_id).each do |question|
              =question.question
              %br
              -QuizEntryAnswer.find_all_by_quiz_question_id(question.id).each do |answer|
                -received_answer = QuizQuestionAnswer.find(answer.quiz_question_answer_id)
                %b Answer: #{received_answer.letter}). #{received_answer.answer}
                %br
                -correct_answer = QuizQuestionAnswer.find_by_quiz_question_id_and_correct_answer(question.id, 1)
                %b Is this answer correct? #{correct_answer.letter == received_answer.letter}
              %br
              %br


.span11
  .form-actions
    = link_to 'Edit', edit_quiz_path(@quiz), :class => 'btn btn-primary'
    = link_to 'Back', quizzes_path, :class => 'btn'
