.well
  %h1.text-info="#{@competition.name}"

.well
  %ul#myTab.nav.nav-tabs
    %li.active
      %a{:href => "#home", "data-toggle" => "tab"} Competition Info
    %li
      %a{:href => "#entries", "data-toggle" => "tab"} Competition Entries
    -#%li
    -#  %a{:href => "#winners", "data-toggle" => "tab"} Competition Winners
  .tab-content
    #home.tab-pane.active
      %h4.text-info Competition Details
      %table.table.table-bordered.table-condensed.table-stripped
        %tr
          %td
            %b Description:
          %td
            = @competition.description
        %tr
          %td
            %b Start date:
          %td
            = @competition.start_date.strftime("%d-%m-%Y") rescue nil
        %tr
          %td
            %b End date:
          %td
            = @competition.end_date.strftime("%d-%m-%Y") rescue nil
        %tr
          %td
            %b Keyword:
          %td
            = @competition.keyword
        %tr
          %td
            %b Keyword is Case Sensitive:
          %td
            = @competition.keyword_case_sensitive? ? 'Yes' : 'No'

        %tr
          %td
            %b User:
          %td
            ="#{@competition.user.first_name rescue nil} #{@compeition.user.last_name rescue nil}"

        %tr
          %td
            %b Success message:
          %td
            = @competition.success_message

        %tr
          %td
            %b Incorrect option message:
          %td
            = @competition.incorrect_option_message

        %tr
          %td
            %b Response include serial:
          %td
            = @competition.response_include_serial? ? 'Yes' : 'No'

        %tr
          %td
            %b Special Message Target
          %td
            = @competition.special_message_incoming_count

      %br
      -if @competition.competition_options.nil? == false
        %h4 Competition Option
        %table.table.table-bordered.table-stripped.table-condensed
          %thead
            %tr
              %th Option Number
              %th Option Name
          %tbody
          -@competition.competition_options.each do |x|
            %tr
              %td=x.option_number
              %td=x.option_name

    #entries.tab-pane
      %h4.text-info Competition Entries
      .well
        %a.btn{"data-toggle" => "modal", :href => "#myModal", :role => "button", :class => "btn"} Send Bulk Message

        #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h3#myModalLabel Send Bulk Message to All Senders
          .modal-body
            -send_to = []
            -IncomingMessage.all(:conditions => "competition_id = #{@competition.id}", :group => "sender").each do |x|
              -send_to << x.sender
            Total Number of Cell Numbers to Send to:
            %b
              =send_to.count
            %hr
            = form_tag "/send_bulk_sms", method: "post", :remote => true do
              = label_tag(:message, "Message (160 Characters):")
              = hidden_field_tag :competition_id, @competition.id
              = text_area_tag :message, nil, :id => "styled", :maxlength => "160"
              %br
              = submit_tag "Send Bulk Message", :class => "btn btn-success btn-small"
          .modal-footer
            %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close

      %table.table.table-bordered.table-condensed.table-stripped
        %thead
          %tr
            %th
              Cell Number
            %th
              Total # of Entries
        %tbody
        -IncomingMessage.count(:conditions => "competition_id = #{@competition.id}", :group => "sender", :order => "count_all DESC").each do |sender, count|
          %tr
            %td
              = sender
              -@contact =  Contact.find_by_cell_number(sender.to_s[4..-1]) rescue nil
              -if @contact.nil? == true
                = link_to "Import Contact", "/dashboard/import_contact/#{sender.to_s[4..-1]}", :class => 'btn btn-small btn-success', :id => "#{sender.to_s[4..-1]}", :remote => true
              -else
                = link_to "#{@contact.complete_name}", '#'
            %td
              =count
              -if count.nil? == false && @competition.special_message_incoming_count.nil? == false
                -if count >= @competition.special_message_incoming_count
                  %b{:style => 'color: blue'} ( Special Message Target Achieved )

      -@competition.competition_options.exists? == true
      %h4.text-info Competition Option Entries
      %table.table.table-bordered.table-condensed.table-stripped
        %thead
          %tr
            %th Option Number
            %th Option Name
            %th Total # of Votes
        %tbody
        -CompetitionOption.find_all_by_competition_id(@competition.id).each do |x|
          %tr
            %td
              =x.option_number
            %td
              =x.option_name
            %td
              =IncomingMessage.all(:conditions => "competition_id = #{@competition.id} AND `option` = #{x.option_number} ").count()



    -##winners.tab-pane
    -#  %h4.text-info Competition Winners


.form-action
  -if can? :manage, :all
    = link_to 'Edit', edit_competition_path(@competition), :class => 'btn btn-primary'
  = link_to 'Back', competitions_path, :class => 'btn'

#importContact.hide.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "importContactLogLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#importContactLogLabel Import Selected Contact
  .modal-body
    #importContactInfo{:style => 'background-color: #f1f1f1; font-size: 11px;'}
    %input{:type => "hidden", :value => "", :id => "entry"}
    %input{:type => "hidden", :value => "false", :id => "saved"}
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal", :id => "closeImportContact"} Close
