.well
  %h1.text-info="#{@competition.name}"

.well
  %ul#myTab.nav.nav-tabs
    %li.active
      %a{:href => "#home", "data-toggle" => "tab"} Competition Info
    %li
      %a{:href => "#entries", "data-toggle" => "tab"} Competition Entries
    -#%li
    -#  %a{:href => "#winners", "data-toggle" => "tab"} Competition Winners
  .tab-content
    #home.tab-pane.active
      %h4.text-info Competition Details
      %table.table.table-bordered.table-condensed.table-stripped
        %tr
          %td
            %b Description:
          %td
            = @competition.description
        %tr
          %td
            %b Start date:
          %td
            = @competition.start_date.strftime("%d-%m-%Y") rescue nil
        %tr
          %td
            %b End date:
          %td
            = @competition.end_date.strftime("%d-%m-%Y") rescue nil
        %tr
          %td
            %b Keyword:
          %td
            = @competition.keyword
        %tr
          %td
            %b Keyword is Case Sensitive:
          %td
            = @competition.keyword_case_sensitive? ? 'Yes' : 'No'

        %tr
          %td
            %b User:
          %td
            ="#{@competition.user.first_name rescue nil} #{@compeition.user.last_name rescue nil}"

        %tr
          %td
            %b Success message:
          %td
            = @competition.success_message

        %tr
          %td
            %b Incorrect option message:
          %td
            = @competition.incorrect_option_message

        %tr
          %td
            %b Response include serial:
          %td
            = @competition.response_include_serial? ? 'Yes' : 'No'

      %br
      -if @competition.competition_options.nil? == false
        %h4 Competition Option
        %table.table.table-bordered.table-stripped.table-condensed
          %thead
            %tr
              %th Option Number
              %th Option Name
          %tbody
          -@competition.competition_options.each do |x|
            %tr
              %td=x.option_number
              %td=x.option_name

    #entries.tab-pane
      %h4.text-info Competition Entries
      %table.table.table-bordered.table-condensed.table-stripped
        %thead
          %tr
            %th
              Cell Number
            %th
              Total # of Entries
        %tbody
        -IncomingMessage.count(:conditions => "competition_id = #{@competition.id}", :group => "sender", :order => "count_all DESC").each do |sender, count|
          %tr
            %td=sender
            %td=count

      -@competition.competition_options.exists? == true
      %h4.text-info Competition Option Entries
      %table.table.table-bordered.table-condensed.table-stripped
        %thead
          %tr
            %th Option Number
            %th Option Name
            %th Total # of Votes
        %tbody
        -CompetitionOption.find_all_by_competition_id(@competition.id).each do |x|
          %tr
            %td
              =x.option_number
            %td
              =x.option_name
            %td
              =IncomingMessage.all(:conditions => "competition_id = #{@competition.id} AND `option` = #{x.option_number} ").count()


    -##winners.tab-pane
    -#  %h4.text-info Competition Winners






.form-action
  = link_to 'Edit', edit_competition_path(@competition), :class => 'btn btn-primary'
  = link_to 'Back', competitions_path, :class => 'btn'
