%h1.text-info Address Book
%br
.well
  %h4 Search Contacts
  %br
  = search_form_for @q do |f|
    %table.table.table-bordered.table-condensed.table-stripped
      %thead
        %tr
          %th
            = f.label "First Name"
          %th
            = f.label "Last Name"
          %th
            = f.label "Region"
          %th
            = f.label "Church Name"
          %th

      %tbody
        %tr
          %td
            = f.text_field :first_name_cont
          %td
            = f.text_field :last_name_cont
          %td
            = f.text_field :region_name_cont
          %td
            = f.text_field :church_cont
          %td
            = f.submit :class => 'btn btn-small btn-success'
%br
-if can? :manage, :all
  .well
    = link_to 'Add New Contact', new_contact_path, :class => 'btn btn-success'
    |
    =link_to 'Export to Excel', {:controller => :contacts, :action => :genExcel, :format => "xls"}, :class => 'btn btn-info'
%br
=will_paginate @contacts
%br
%table.table.table-bordered.table-stripped.table-condensed
  %thead
    %tr
      %th Title
      %th First name
      %th Last name
      %th Cell number

  %tbody
  - @contacts.each do |contact|
    %tr
      %td= contact.title
      %td= contact.first_name
      %td= contact.last_name
      %td= contact.cell_number
      %td= link_to "<i class=\"icon-eye-open\"></i> Show".html_safe, contact, :class => 'btn'
      -if can? :manage, :all
        %td= link_to "<i class=\"icon-pencil\"></i> Edit".html_safe, edit_contact_path(contact), :class => 'btn btn-primary'
        %td= link_to "<i class=\"icon-trash\"></i> Delete".html_safe, contact, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'
%br
=will_paginate @contacts

