= simple_form_for(@sms_log) do |f|
  = f.error_notification

  .form-inputs
    = f.input :cell_number
    = f.input :message
    = f.input :status
    = f.input :user_id

  .form-actions
    = f.button :submit
