%h1 Listing sms_logs

%table
  %tr
    %th Cell number
    %th Message
    %th Status
    %th User
    %th
    %th
    %th

  - @sms_logs.each do |sms_log|
    %tr
      %td= sms_log.cell_number
      %td= sms_log.message
      %td= sms_log.status
      %td= sms_log.user_id
      %td= link_to 'Show', sms_log
      -if can? :manage, :all
        %td= link_to 'Edit', edit_sms_log_path(sms_log)
        %td= link_to 'Destroy', sms_log, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

-if can? :manage, :all
  = link_to 'New Sms log', new_sms_log_path
